{% extends "layout.html" %}
{% block content %}
    <div class="gap-3 p-10 flex justify-center flex-col items-center">
        <div class="text-center">
            <h1 class=" text-3xl font-extrabold ">Are you sure?</h1>
        </div>
        <form method="POST" class="w-fit text-center">
            {% csrf_token %}
            <p class="text-md">{{ question.quest }}</p>
            <p class="text-xs mb-4 ">{{ question.date }}{{ question.time }}</p>
            <div class="flex justify-between">
                <button class="px-4 font-extrabold rounded-xl text-xl">Delete</button>
                <a href="{% url 'yourPosts' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}

