{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div id="container">
        {% for question in object_list %}
            {% if user == question.questioner %}
                <div class="grid grid-flow-col grid-cols-12 items-center gap-5 self-center mx-10 mb-7">
                    <a href="{% url "question_detail" question.pk %}" class="col-span-10">
                        <div class="p-3 w-md text-wrap rounded-lg ">
                            {{ question.quest}}
                            <div class="">
                                <p class="">{{ question.time }} {{ question.date }}</p>
                            </div>
                        </div>
                    </a>
                    <div class="col-span-2"><a href="{% url "delete_post" question.pk %}"><img src="{% static 'trash.png' %}" alt="delete" class="w-10 h-10"></a></div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<script>
    const container = document.getElementById('container')
    if (container.textContent.trim()===""){
        container.textContent = "<center><h1 class="text-white text-3xl">No posts yet</h1></center>"
    }
</script>
{% endblock %}