{% extends 'layout.html' %}
{% block content %}
<div class="flex flex-col w-3/4 place-self-center">
    <p class="px-3 w-max rounded-lg rounded-b-none font-bold"> {{ question.questioner }}</p>
    <h2 class="p-3 rounded-lg rounded-tl-none">{{ question.quest }}</h2>
    <h2 class="my-4 font-bold">Replies: </h2>
    {% for reply in question.replys.all %}
            <div class="">
                <h1 class="px-3 w-max rounded-lg rounded-b-none font-bold">{{ reply.answerer}}</h1>
                <h1 class=" p-2 ">{{ reply }}</h1>
                <h6 class="text-xs mb-2 py-1 px-2">{{ reply.time }}|{{ reply.date }}</h6>
            </div>
    {% endfor %}
    <form  method="POST" id="replyform" class="mb-20">
        {% csrf_token %}
        <textarea placeholder="Type here ..." class="w-full" name="reply" id=""></textarea>
        <div class="flex items-center justify-between mt-3">
            <button class=" w-28 rounded-lg font-bold">Send</button>
            <a href="{% url 'forums' %}" class="py-0.5 px-6 rounded-lg font-bold ">Close</a>
        </div>
    </form>
    
</div>
<script>
    document.cookie = "user_timezone=" + Intl.DateTimeFormat().resolvedOptions().timeZone + ";path=/";
    document.getElementById("ask-question-form").addEventListener("submit", function () {
        setTimeout(() => {
            window.location.href = "{% url 'forums' %}";
        }, 100);
    })
</script>    

{% endblock content %}
