{% extends 'layout.html' %}

{% block content %}
<div class="flex flex-col w-3/4 place-self-center">
    <p class="text-sky-900  bg-gray-200 px-3 w-max rounded-lg rounded-b-none font-bold"> {{ question.questioner }}</p>
    <h2 class="text-[#008080] bg-gray-200 p-3 rounded-lg rounded-tl-none">{{ question.quest }}</h2>
    <h2 class="text-white my-4 font-bold">Answers: </h2>
    <div class="flex flex-col gap-5">
        <textarea placeholder="Type here ..." class="w-full" name="" id=""></textarea>
        <button class="bg-green-400 w-28 rounded-lg text-white">Send</button>
    </div>
</div>
{% endblock content %}
