{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-900 flex justify-center font-mono ">
    <div class = "bg-gray-900 sm:w-2/3 w-max h-svh p-5">
        <nav class="h-10 flex items-center justify-between px-5 text-sky-400 ">
            <a class="justify-start text-3xl" href="{% url 'forums' %}"><strong>FORUMS</strong></a>
                {% if user.is_authenticated %}
                <a class="justify-self-end" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <div>
                    <a class="justify-self-end" href="{% url 'login' %}">Login</a> |
                    <a class="justify-self-end" href="{% url 'register' %}">Register</a>
                </div>
                {% endif %}
            
        </nav>
        <div class="p-5">
            {% if messages %}
                {% for m in messages %}
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        {% comment %} <strong class="font-bold">Holy smokes!</strong> {% endcomment %}
                        <span class="block sm:inline">{{ m }}</span>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        </span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

